# python packages for project
tweepy==4.10.0
pandas==1.5.3
openpyxl==3.1.0
tqdm==4.64.1
jupyterlab==3.6.1
ydata-profiling==4.0.0
ipywidgets==8.0.4

# python packages for formatting
black==22.12.0
flake8==6.0.0
isort==5.11.4
mypy==0.971
pre-commit==2.21.0
types-requests==2.28.11.12
